* {
    font-family: "Fira Sans", sans-serif;
    
}

#texto a {
   color: rgb(2, 117, 60);  
}

body {
    background-color:rgba(99, 236, 152, 0.76);
}

.img-logo {
    max-width: 120px;
    min-height: 80px;
    max-height: 120px;
    margin: 5px
}

.perfil {
    max-width: 140px;
    min-width: auto;
    border-radius: 50%;
    margin-top: 10px;
}

.icone {
    margin-right: 5px;
}

main {
    font-size: 12px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#informacoes {
    margin-top: 10px;
}


    

.linkProjeto {
    font-size: 14px;
}

.divisao {
    height: 1px;
    margin-top: 20px;
    margin-left: 3%;
    margin-right: 3%;
    background-color: rgb(2, 117, 60);
}

#secaoProjetos {
    margin-top: 20px;
    font-size: 14px;
}

.projetoItem {
    margin-top: 10px;
    padding: 10px;
}

.linhaBottom {
    border-bottom: 1px solid rgb(2, 117, 60);   
}

footer {
    padding-top: 5px;
    margin-top: 70px;
    color: black;
    font-size: 13px;
    border-top: 4px solid rgba(2, 117, 60, 0.699);
    min-height: 100px;
}
footer p {
    max-width: 800px;
}

#tituloSobre {
    display: flex;
    flex-direction: row;
    justify-content: center;

}


@media (min-width: 800px) {
    main {
        font-size: 16px;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
    #informacoes {
        margin-left: 8%;
    }
    #secaoProjetos {
        font-size: 16px;
    }
    footer {
        font-size: 14px;
    }
}